/* 
var s = Math.random()*10

var text = ""
for (var i = 0; i < 100; i+=5){
	text += (`${i}% ${50 + 10*Math.sin(s + i/20)}%` + ",\n")
}
console.log(text)
*/

@keyframes liquidBG_animation {
  0%,
  100% {
    clip-path: polygon(
      0% 58.80329457216639%,
      5% 59.703213761136524%,
      10% 59.99983411519129%,
      15% 59.67471321737291%,
      20% 58.74806551041025%,
      25% 57.27750546057701%,
      30% 55.354465369229985%,
      35% 53.09851055515579%,
      40% 50.64990536215401%,
      45% 48.16089220149895%,
      50% 45.78622585618083%,
      55% 43.67355157804198%,
      60% 41.95422522112551%,
      65% 40.7351461708826%,
      70% 40.092110858143926%,
      75% 40.065100104164664%,
      80% 40.65579330680277%,
      85% 41.827464023694255%,
      90% 43.507263444557694%,
      95% 45.59074977738007%,
      100% 47.59074977738007%,

      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 54.162487296837746%,
      5% 56.2826080955825%,
      10% 58.012106752261744%,
      15% 59.243451417093766%,
      20% 59.900083042740285%,
      25% 59.94117545506219%,
      30% 59.36417372688916%,
      35% 58.20495303101656%,
      40% 56.53558809571954%,
      45% 54.459871947237204%,
      50% 52.10686256211439%,
      55% 49.622858667302296%,
      60% 47.162303593902976%,
      65% 44.878182738875594%,
      70% 42.912511674026156%,
      75% 41.38750630559393%,
      80% 40.39798408114455%,
      85% 40.00546869992129%,
      90% 40.234364867211234%,
      95% 41.07044092797288%,
      100% 42.09851055515579%,

      100% 100%,
      0% 100%
    );
  }
}

.liquidBG {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  background: var(--bg-col);
  animation: liquidBG_animation 8s ease-in-out infinite;
}
